.create-post{
    margin-top: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.make-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.make-post textarea{
    margin-bottom: 3%;
    width: 47vh;
    height: 13vh;
}

.make-post button{
    font-size: 30px;
}
    
@media screen and (min-width: 1024px){
    .create-post{
        width: 79vh;
        display: block;
        margin: 0 auto;
    }
}
