
.account-form{
	margin-bottom: 5%;
}

.account-form input{
	width: 87%;
	margin-bottom: 2%;
}



.new-site button{
	width: 25%;
	margin-top: 2%;
}

.create-account{
	text-align: center;
	margin-bottom: 15%;
	color: white;
	margin-top: 1.5em;
}

.create-account header{
	margin-bottom: 5%;
}


/* tablet and higher */
@media only screen and (min-width: 768px){
	.account-form input{
	width: auto;
	}
}