.account{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 22em;
    border: 1px solid black;
}

.basic h4{
    font-size: 1.6em;
    margin: 0;
}

.basic{
    font-size: 1.5em;
}
.edit-button{
    display: flex;
    justify-content: flex-end;
}