.account-edit{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.account-edit label{
    margin-top: .2em;
}

.account-edit button{
    margin-top: .4em;
}
.edit-account-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
}