/* all general classes used throughout multiple components will go here */
*{
	box-sizing: border-box;
	font-family: sans-serif;

    /* background: cornsilk; */
}

body{
	margin: 0;
	background: #1E1CBC;
	/* width: 100vw; */
	height: 100vh;
}

/* gen form is for making the basic styling for all the forms. */
.gen-form{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items:  center;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

.red{
	color: red;
}
